<div id="user_nav">
		 Logged in as <%= current_admin.email %>

		<%= link_to("Log out",  admin_session_url(session[:admin_id]), method: :delete) %>

		<div id="admin_all_">
		<%= render partial: "admin/partial/users_all_ajax" %>
		</div>

		<%= ajax_will_paginate @users, :params => { :sort => @sort} %>

		<%#= will_paginate @users, :params => { :sort => @sort } %>

		<br>
		<div id="d1"> 111 </div>


</div>
