<div id="user_nav">
		 Logged in as <%= current_admin.email %>

		<%= link_to("Log out",  admin_session_url(session[:admin_id]), method: :delete) %>

		<div id="admin_all_">
		<%= render partial: "admin/partial/users_all_ajax" %>
		</div>


</div>
