<br/><br/>

<div class="panel panel-default">
  <div class="panel-heading">Users</div>
<table class="table table-striped">
<tr>
<td class='title'>
Email
</td>
<td class='title'>
Last name
</td>
<td class='title'>
Delete
</td>
</tr>


<% 
	@users.each do |key|

		concat raw "<tr><td> #{key[:email]} </td><td> #{key[:last_name]} </td>

<td>
#{ link_to("X", admin_administrator_url(key[:id]), method: :delete) }
</td>
		</tr>"

	end 
%>

</table>
</div>