/*
*= require jquery.ui.all
*= require_self
*= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

div.container form{
background:#eee;
padding:10px;
width:500px;
}

div.error_messages{
	color:red;
	padding:0 0 0 10px;
}	