/*
*= require jquery.ui.all
*= require_self
*= require jquery.fileupload-ui
*= require_tree .
*/


div.collapse{
float:right;
margin:10px 10px 0 0;
font-size:14px;
}

input.input-block-level{
width:240px;
display: inline;
font-size: 15px;
font-weight: bold;
}

textarea{
width:240px !important;
margin:0 !important;
padding:4px 0 0 2px !important;
}

div.container form{
background:#eee;
padding:10px;
}

div.error_messages{
	color:red;
	padding:0 0 0 10px;
	font-size: 14px;
font-weight: normal;
}	

div.not_messages{
	color:green;
	padding:0 0 0 10px;
	}

div.field_with_errors{
	background: red;
	display:inline;
}



#sortable {  color:#eee; 
			list-style-type:none;
			list-style-position: outside;
			 margin: 0; 
    padding: 0; 
    clear: both;
    padding-top:8px;
 }

#sortable li {line-height:30px;
 height:30px;
  list-style-position: outside;
  margin-top:6px;
padding-left:50px;
}

#sortable li span.name{
	float:left;
	display:block;
	width:22%;
	padding-left:10px; 
	text-align: left;
	font-size: 14px;
}

ul.header_ul li span.name{
  float:left;
	display:block;
	width:22%;
	padding-left:10px; 
	text-align: left;
	font-size: 14px;
	}

	ul.header_ul{
	clear: both;
	list-style-type:none;
	list-style-position: outside;

	}

	ul.header_ul li{
			padding-left:26px;
	}

div.btn-group{
float:right;
top:-38px;
	}


ul li span a{
	color: #337ab7 !important;
}

div.panel{
	 width:100% !important;
}

#sort_view{
color:green;
font-size: 14px;
font-weight: normal;
}


table.table-striped{
margin:20px 0 40px 0 !important;
font-size: 15px;
font-weight: normal;
}

table.table-striped{
width: 90%;
	}

button.btn{
width:140px;
}