/*
*= require jquery.ui.all
*= require_self
*= require_tree .
*/



div.container form{
background:#eee;
padding:10px;
width:300px;
}

div.error_messages{
	color:red;
	padding:0 0 0 10px;
}	

@import "bootstrap-sprockets";
@import "bootstrap";


ul.ui-sortable {  color:#eee; 
			list-style-type:none;
			list-style-position: outside;
			 margin: 0; 
    padding: 0; 
 }

ul li {line-height:30px; height:30px; list-style-position: outside;margin-top:6px;}
