/*
*= require jquery.ui.all
*= require_self
*= require jquery.fileupload-ui
*= require_tree .


*/



div.container form{
background:#eee;
padding:10px;
/* width:300px; */
}

div.error_messages{
	color:red;
	padding:0 0 0 10px;
}	

div.field_with_errors{
	background: red;
	display:inline;
}



#sortable {  color:#eee; 
			list-style-type:none;
			list-style-position: outside;
			 margin: 0; 
    padding: 0; 
 }

#sortable li {line-height:30px; height:30px; list-style-position: outside;margin-top:6px;}

#sortable li span.name{
	float:left;
	display:block;
	width:25%;
	padding-left:10px; 
	text-align: left;
}


ul li span a{
	color: #337ab7 !important;
}

div.panel{
	/* width:700px !important; */
}