<!DOCTYPE html>
<html>
<head>
  <title>WorkRails1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "upload_button.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= yield %>
</div>


</body>
</html>